{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueController!{% endblock %}

{% block body %}
<body>
    <header>
 <main>
        <div class="profil-info">
            <img src="image.jpg" alt="img-avatar" class="profil-info__img">
            <div class="profil-info__info">
                <div>
                <p class="info-title">Nom</p>
                <p class="info__nom">Ben Khedher</p>
                </div>
                <div>
                <p class="info-title">Prenom</p>
                <p class="info-prenom">Adem</p>
                </div>
                <div>
                <p class="info-title">ID</p>
                <p class="info-identifant">mmi22b02</p>
                </div>
                <div>
                <p class="info-title">Niveau</p>
                <p class="info-niveau">S3</p>
                </div>
                <div>
                <p class="info-title">Parcours</p>
                <p class="info-parcours">DEV-DI FI | td AB | tp A</p>
                </div>
                <div>
                    <p class="info-title">Adresse Mail universitaire</p>
                    <p class="info-adresse">adem.ben-khedher@univ.reims-troyes.fr</p>
                </div>
            </div>
        </div>
        <div class="profil-rendu">
            <div class="profil-rendu-historique">
                <h1 class="profil-rendu-historique__title">HISTORIQUE DES RENDUS </h1>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>


                </div>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>
                </div>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>
                </div>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>
                </div>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>
                </div>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>
                </div>
                <div class="profil-rendu-historique__rendu">
                    <div class="block1">
                        <p class="block__title">Module </p>
                        <p class="block__info">WR313-Développement Back</p>
                    </div>
                    <div class="block2">
                        <p class="block__title">Date de rendu </p>
                        <p class="block__info">12/12/2012</p>
                    </div>
                    <div class="block3">
                        <p class="block__title">Statut </p>
                        <p class="block__info">Rendu </p>
                    </div>
                    <a id="myBtn" class="button__deatils" >
<?xml version="1.0" encoding="iso-8859-1"?>
<svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 330 330" xml:space="preserve">
<path id="XMLID_2_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M225.606,175.605
	l-80,80.002C142.678,258.535,138.839,260,135,260s-7.678-1.464-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213l69.393-69.396
	l-69.393-69.392c-5.858-5.857-5.858-15.355,0-21.213c5.857-5.858,15.355-5.858,21.213,0l80,79.998
	c2.814,2.813,4.394,6.628,4.394,10.606C230,168.976,228.42,172.792,225.606,175.605z"/>
</svg></a>
                </div>

            </div>

 
        </div>


        <div id="myModal" class="modal">

            <div class="modal-content">
              <span class="close">&times;</span>
              <h1>Details du rendu</h1>
              <div class="details-rendu__info">
                  <div class="details-rendu-block1">
                      <p class="block__title">Module </p>
                      <p class="block__info">WR313-Développement Back</p>
                  </div>
                  <div class="details-rendu-block2">
                      <p class="block__title">Date de rendu </p>
                      <p class="block__info">12/12/2012</p>
                  </div>
                  <div class="details-rendu-block3">
                      <p class="block__title">Statut </p>
                      <p class="block__info">Rendu </p>
                  </div>
                  <div class="details-rendu-block4">
                      <p class="block__title">Exercice </p>
                      <p class="block__info">tp toy story </p>
                  </div>
                  <div class="details-rendu-block5">
                      <p class="block__title">Professeurs </p>
                      <p class="block__info">David Annebicque</p>
                  </div>
                  <div class="details-rendu-block6">
                      <p class="block__title">Commentaire</p>
                      <p class="block__info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio maxime assumenda odit dolorem quae? Quos illum similique a quaerat, praesentium suscipit, ex impedit ipsam veniam deleniti minima tempore itaque earum.</p>
                  </div>
                  <div class="details-rendu-block5">
                      <p class="block__title">Note</p>
                      <p class="block__info">14 / 20</p>
                  </div>
            </div>
            <script src="script.js"></script>
    </main>
</body>

{% endblock %}
