{# templates/recherche/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #87CEEB, #1E90FF);
            color: #333;
        }

        .navbar {
            background-color: #333;
            padding: 15px;
            color: white;
            /* Votre style pour la barre de navigation ici */
        }

        .content {
            width: 1400px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .container {
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .main-section {
            width: 70%;
        }

        .aside-section {
            width: 30%;
        }

        #result {
            position: relative;
            width: 100%;
            cursor: pointer;
            overflow-y: auto;
            max-height: 400px;
            box-sizing: border-box;
            z-index: 1001;
            margin-top: 40px;
        }

        .card {
            width: 100%;
            margin-bottom: 10px;
            background-color: #f8f9fa; /* Couleur de fond pour les cartes */
            border: 1px solid #dee2e6; /* Bordure des cartes */
            border-radius: 4px; /* Coins arrondis */
        }

        .card-text{
            margin-right: 10px;
        }

        .card-body {
            padding: 10px;
        }

        .link-class:hover {
            background-color: #f1f1f1;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }


        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }


        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <br /><br />
    <div class="container" style="width:1400px;">
        <h2 align="center">Recherche</h2>
        <h3 align="center">Consultez vos rendus</h3>
        <br /><br />
        <div style="display: flex; flex-direction: row; align-items: center">
            <label for="search"><img style="width: 35px" src="{{ asset('/assets/images/search.gif') }}" alt="search"></label>
            <input type="text" name="search" id="search" placeholder="Rechercher ..." class="form-control" />
        </div>
        <div>
            <button id="sortButton">Trier par date</button>
            <div id="moduleFilterModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1>Filtrer par module</h1>
                    <div class="modal-body"></div>
                </div>
            </div>

            <div>
                <!-- Ajoutez un bouton pour ouvrir le menu de filtrage -->
                <button id="filterMenuButton">Filtrer</button>
            </div>
        </div>


        </div>
        <div id="result"></div>
        <br />
    </div>

<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Details du rendu</h1>
        <div class="details-rendu__info">
            <div class="details-rendu-block1">
                <p class="block__title">Module </p>
                <p class="block__info">WR313-Développement Back</p>
            </div>
            <div class="details-rendu-block2">
                <p class="block__title">Date de rendu </p>
                <p class="block__info">12/12/2012</p>
            </div>
            <div class="details-rendu-block3">
                <p class="block__title">Statut </p>
                <p class="block__info">Rendu </p>
            </div>
            <div class="details-rendu-block4">
                <p class="block__title">Exercice </p>
                <p class="block__info">tp toy story </p>
            </div>
            <div class="details-rendu-block5">
                <p class="block__title">Professeurs </p>
                <p class="block__info">David Annebicque</p>
            </div>
            <div class="details-rendu-block6">
                <p class="block__title">Commentaire</p>
                <p class="block__info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio maxime assumenda odit dolorem quae? Quos illum similique a quaerat, praesentium suscipit, ex impedit ipsam veniam deleniti minima tempore itaque earum.</p>
            </div>
            <div class="details-rendu-block5">
                <p class="block__title">Note</p>
                <p class="block__info">14 / 20</p>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $('#search').keyup(function () {
                $('#result').html('');
                $('#state').val('');
                var searchField = $('#search').val();
                var expression = new RegExp(searchField, "i");

                fetch('/data/rendu2.json')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Données depuis le fichier JSON :', data);

                        $.each(data, function (key, value) {
                            var moduleExists = value.hasOwnProperty('Nom de module');
                            var dateExists = value.hasOwnProperty('Date de rendu');

                            if ((moduleExists && value['Nom de module'].search(expression) !== -1) ||
                                (dateExists && value['Date de rendu'].search(expression) !== -1)) {

                                $('#result').append('<div class="card"><div class="card-body"><h5 class="card-title">' + value['Nom de module'] + '</h5><p class="card-text">' + "Date de rendu : " + value['Date de rendu'] + ' </p><p class="card-text">' + 'Heure de rendu : ' + value['Heure de rendu'] + '</p> <p class="card-text">' + ' Statut : ' + value['Statut'] + '</p></div></div>');
                            }
                        });
                    });

                $('#result').on('click', 'div.card', function () {
                    var click_text = $(this).text().split('|');
                    $('#search').val($.trim(click_text[0]));
                    $("#result").html('');
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                function updateNotificationCount(count) {
                    const notificationCountSpan = document.querySelector('.new-notifications');
                    notificationCountSpan.textContent = count;

                    if (count > 0) {
                        notificationCountSpan.classList.add('has-notifications');
                    } else {
                        notificationCountSpan.classList.remove('has-notifications');
                    }
                }

                const dateDuRendu = new Date('2023-11-28T00:00:00');
                const differenceEnMillisecondes = dateDuRendu - new Date();
                const heuresRestantes = differenceEnMillisecondes / (1000 * 60 * 60);

                if (heuresRestantes < 24) {
                    alert('Le rendu est dans moins de 24 heures !');
                }

                setTimeout(function () {
                    if (heuresRestantes < 24) {
                        updateNotificationCount(1);
                        var notificationContainer = document.getElementById('notificationContainer');
                        notificationContainer.innerHTML = 'Le rendu est dans moins de 24 heures ! ';

                        notificationContainer.style.display = 'block';
                    }

                    var modal = document.getElementById("myModal");
                    var btn = document.getElementById("myBtn");
                    var span = document.getElementsByClassName("close")[0];

                    btn.onclick = function () {
                        modal.style.display = "block";
                    }

                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }

                }, 1000);


                // Fonction pour trier du plus proche au plus loin par date
                $('#sortButton').on('click', function () {
                    console.log('Bouton de tri cliqué !');
                    var sortedData = data.sort(function (a, b) {
                        console.log('Tri en cours...');
                        return new Date(a['Date de rendu']) - new Date(b['Date de rendu']);
                    });


                    $('#result').html('');
                    $.each(sortedData, function (key, value) {
                        $('#result').append('<div class="card"><div class="card-body"><h5 class="card-title">' + value['Nom de module'] + '</h5><p class="card-text">' + "Date de rendu : " + value['Date de rendu'] + ' </p><p class="card-text">' + 'Heure de rendu : ' + value['Heure de rendu'] + '</p> <p class="card-text">' + ' Statut : ' + value['Statut'] + '</p></div></div>');
                    });
                });

                // Fonction pour ouvrir le menu de filtrage
                $('#filterMenuButton').on('click', function () {
                    $('#moduleFilterModal').modal('show');
                });
                // Intégrer un date picker
                $('#search').datepicker({
                    dateFormat: 'yy-mm-dd',
                    onSelect: function (dateText) {
                        // Utilisez la date sélectionnée pour filtrer les résultats
                        // Par exemple, vous pouvez afficher la date sélectionnée dans la console
                        console.log('Date sélectionnée :', dateText);

                        // Ajoutez votre logique de filtrage ici en utilisant la date sélectionnée
                        var dateFilteredData = data.filter(function (item) {
                            return item['Date de rendu'] === dateText;
                        });

                        // Fermez le date picker après la sélection
                        $(this).datepicker('hide');
                    }
                // Fonction pour filtrer par module
                $('#filterButton').on('click', function () {
                    console.log('Bouton de filtrage cliqué !');
                    var selectedModule = $('#moduleSelect').val();
                    console.log('Module sélectionné :', selectedModule);
                    var uniqueModules = [...new Set(data.map(item => item['Nom de module']))];

                    // Créer un select pour les modules
                    var selectModule = $('<select id="moduleSelect"></select>');
                    $.each(uniqueModules, function (index, module) {
                        selectModule.append($('<option>', {
                            value: module,
                            text: module
                        }));
                    });

                    // Afficher le select dans un modal Bootstrap
                    var modalFilter = $('#moduleFilterModal');
                    modalFilter.find('.modal-body').html('');
                    modalFilter.find('.modal-body').append(selectModule);
                    modalFilter.modal('show');

                    // Quand un module est sélectionné, filtrer les résultats
                    selectModule.on('change', function () {
                        var selectedModule = $(this).val();
                        var moduleFilteredData = data.filter(function (item) {
                            return item['Nom de module'] === selectedModule;
                        });

                        $('#result').html('');
                        $.each(moduleFilteredData, function (key, value) {
                            $('#result').append('<div class="card"><div class="card-body"><h5 class="card-title">' + value['Nom de module'] + '</h5><p class="card-text">' + "Date de rendu : " + value['Date de rendu'] + ' </p><p class="card-text">' + 'Heure de rendu : ' + value['Heure de rendu'] + '</p> <p class="card-text">' + ' Statut : ' + value['Statut'] + '</p></div></div>');
                        });

                        modalFilter.modal('hide');
                    });
                });
            });
        });
    </script>
{% endblock %}
